* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Rajdhani", sans-serif;
  background-color: #bfbdff;
}

/* header css starts here */
nav {
  height: 80px;
  background-color: #515e7b;
  display: flex;
  align-items: center;
  padding: 20px 36px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.5);
}

.logo-text {
  font-size: 22px;
  font-weight: 500;
  color: #ffff;
}
/* header css ends here */

/* login page css starts here */
.login-layout {
  height: 100vh;
  background-color: #515e7b;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input-field {
  width: 300px;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
}

.login-button {
  width: 300px;
  background-color: #76a3a3;
  color: #ffff;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  font-weight: 400;
}
/* login page css ends here */

/* menu tab css starts here */
.menu-tab {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 70px;
  margin-top: 30px;
}

.link-tag {
  text-decoration: none;
}

.link-element {
  font-size: 20px;
  background-color: #1196e9;
  color: white;
  width: 100px;
  height: 60px;
  text-align: center;
  padding-top: 15px;
  border-radius: 7px;
}
/* menu tab css ends here */

/* employee list css starts here */
.employee-heading {
  font-size: 26px;
  text-decoration: underline;
  margin-top: 30px;
  text-align: center;
}

.employee-table {
  width: 80%;
  margin: auto;
  border: 2px solid black;
}

.employee-table th,
td {
  border: 2px solid black;
  padding: 10px;
}

.employee-table th {
  font-size: 20px;
}

.employee-table td {
  font-size: 18px;
  font-weight: 500;
}
/* employee list css ends here */

/* employee add css starts here */
.form-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  background-color: white;
  width: 400px;
  padding: 50px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 5px 5px 15px -1px rgba(0, 0, 0, 0.75);
}

.form--input {
  width: 100%;
  margin-bottom: 20px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid gray;
  padding: 10px;
}

.form--submit {
  width: 70%;
  padding: 10px;
  border-radius: 5px;
  color: white;
  background-color: #639;
  border: none;
  cursor: pointer;
}
/* employee add css ends here */
